
<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>


<!-- usuario/inicio.ejs-->


<p><%= "Hola"%></p>
<p><%= 15%>></p>

<% const anderson = {nombre: "Anderson", apellido: "Lucero", cedula: "04"} %>
<% const numero = 25 %>
<% const mensaje = "hola"%>

<p><%= anderson.nombre%> <%= anderson.apellido%> <%= anderson.cedula%></p>
<p><%= numero%></p>
<p><%= mensaje%></p>



<% const arregloNumeros = [1,2,3,4,5]%>

<ur>
    <% arregloNumeros.forEach((objeto)=>{%>
    <li><%= objeto%></li>
    <% }) %>

</ur>

<a href="/usuario-http/vista/crear">
    <button>Crear</button>
</a>

<%if(typeof parametrosConsulta!= 'undefined'){%>
<p> Mensaje:<%=parametrosConsulta.mensaje%></p>
<%}%>


<form action="/usuario-http/vista/inicio"
      method="GET">
    <label for="busqueda">Buscar: </label>
    <input id="busqueda" type="text" name="busqueda">
    <button type="submit">Buscar</button>
</form>

<table>
    <!-- table row -->
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>acciones</th>
    </tr>

    <% arregloUsuarios.forEach((objeto)=>{%>

        <tr>
            <td><%= objeto.nombre%></td>
            <td><%= objeto.apellido%></td>
            <td><%= objeto.cedula%></td>
            <td>
                <button>Ver</button>
                <a href="/usuario-http/vista/editar/<%= objeto.id %>">
                    <button>Editar</button>
                </a>
                <form action="/usuario-http/eliminarDesdeVista/<%= objeto.id %>"
                      method="POST">

                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>

    <% }) %>



</table>


<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>
